

<div ng-controller="MainController" id="unicorn-app">

  <header class="row">
    <div class="col">
      <h2 class="icon icon-operate"></h2>
    </div>
    <div class="col">
      <h1>
        <img class="logoLargeScreen resize" src="/unicorn_logo2.png" />
      </h1>
    </div>
    <div class="col">
      <h2 class="icon icon-hook-main"></h2>
    </div>
  </header>

  <section id="main" class="row">
    <div class="col col-center" id="left-controls">
      <img class="left-control resizeLeft" src="/ohjainpylpyra5.png" on-drag="engageLeftControl(events)" />
    </div>

    <div class="col" id="center-panel">
      <h1>
        <img class="logoSmallScreen resize" src="/unicorn_logo2.png" />
      </h1>
      <div ng-if="!connected">
        <button class="button button-round button-large button-assertive button-responsive" ng-click="connect()">CONNECT</button>
      </div>
      <div ng-if="connected">
        <button class="button button-round button-large button-assertive button-responsive">E-STOP</button>
      </div>
    </div>

    <div class="col col-center" id="right-controls">
      <img class="right-control resizeRight" src="/slaideri2.png" on-drag="engageRightControl(events)"/>
    </div>
  </section>

</div>
