<div class="padding" ng-controller="MainController">

  <super-navbar>
    <super-navbar-title>
      Konecranes <img src="/konecranes_logo.png"/>
    </super-navbar-title>
  </super-navbar>

  <div class="row">

    <div class="col" id="left-controls">
      <div>
        <button class="button button-outline button-large button-stable super-arrow-up-b"></button>
      </div>
      <div>
        <button class="button button-outline button-large button-stable super-arrow-left-b"></button>
        <button class="button button-outline button-large button-stable super-arrow-right-b"></button>
      </div>
      <div>
        <button class="button button-outline button-large button-stable super-arrow-down-b"></button>
      </div>
    </div>

    <div class="col">
      <div>
        <h2>Using now: Hertta</h2>
        <img src="/crane_view.jpg" on-touch="hertta()" />
      </div>
      <div>
        <button class="button button-stable icon-left super-home">Home</button>
        <button class="button button-stable icon-left super-arrow-shrink">Target 1</button>
        <button class="button button-stable icon-left super-arrow-shrink">Target 2</button>
        <button class="button button-stable icon-left super-arrow-shrink">Target 3</button>
      </div>
    </div>

    <div class="col center-align" id="right-controls">
      <div ng-if="!connected">
        <button class="button button-large button-assertive" ng-click="connect()">Connect</button>
      </div>
      <div ng-if="connected">
        <button class="button button-large button-assertive">E-STOP</button>
      </div>
      <div>
        <button class="button button-outline button-large button-stable icon-left super-arrow-up-a"></button>
      </div>
      <div>
        <button class="button button-outline  button-large button-stable icon-left super-arrow-down-a"></button>
      </div>
      <div>
        <button class="button button-outline  button-large button-stable">Sway control</button>
      </div>
    </div>

  </div>
</div>
